/* @import url(./magic8/magic8.css); */
/* @import url(./dice/dice.css); */

:root {
  --light-10: #ffffff;
  --light-9: #ebeef3;
  --light-8: #d6dde8;
  --light-7: #c2ccdc;
  --light-6: #aebbd1;
  --light-5: #9aabc5;
  --light-4: #859ab9;
  --light-3: #7189ae;
  --light-2: #5d78a2;
  --light-1: #486797;

  --center: #34568b;

  --dark-1: #2f4d7d;
  --dark-2: #2a456f;
  --dark-3: #243c61;
  --dark-4: #1f3453;
  --dark-5: #1a2b46;
  --dark-6: #152238;
  --dark-7: #101a2a;
  --dark-8: #0a111c;
  --dark-9: #05090e;
  --dark-10: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

body {
  background: var(--light-9);
  font-family: "Zen Loop", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#body-home {
  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #525252,
    #3d72b4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #525252,
    #3d72b4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  /* color: #fff; */
}

.sticky {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  /* flex-direction: row; */
}

.container {
  background-color: transparent;
  /* background-color: var(--light-7); */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(52, 86, 139, 0.3);
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  /* margin: 0 0 20px; */
  color: var(--light-9);
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: var(--light-9);
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid var(--dark-3);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: var(--light-3);
}

/* .form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
} */

.form button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--light-9);
  border-radius: 4px;
  color: var(--light-9);
  display: block;
  font-size: 1.6rem;
  letter-spacing: 3px;
  padding: 10px;
  /* margin-top: 20px; */
  width: 100%;
  font-family: "Zen Loop", cursive;
}

.form button:hover {
  /* background: var(--light-2); */
  border: 2px solid var(--dark-8);
  color: var(--dark-8);
}

/* Navigation */
nav {
  /* display: flex; */
  /* flex-direction: row; */
  z-index: 1000;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: var(--center);
}

#navbar {
  display: flex;
}

#logo-container {
  display: flex;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  /* letter-spacing: 5px; */
  font-size: 20px;
  color: var(--light-9);
  /* color: var(--light-3); */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  right: 0px;
  height: 88vh;
  top: 6vh;
  bottom: 6vh;
  background-color: transparent;
  flex-direction: column;
  /* opacity: 0.9; */
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  z-index: 1000;
  flex-grow: 1;

  overflow: auto;
}

.nav-links li {
  list-style: none;
  /* padding: 0px 20px; */
  opacity: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--light-9);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: transparent;
  transition: all 0.3s;
  /* transition: fontsize 0.5s; */
}

.nav-links a:hover {
  border-bottom: var(--light-9) 1px solid;
  font-size: 1.5rem;
}

.nav-links a.current {
  border-bottom: var(--light-1) 1px solid;
  font-size: 1.3rem;
}

.burger {
  display: inline;
  cursor: pointer;
}

.burger:hover > * {
  background-color: #101a2a;
}

.burger div {
  width: 32px;
  height: 3px;
  margin: 5px;
  background-color: var(--light-9);
  transition: all 0.4s ease;
}

.nav-active {
  transform: translateX(0%);
}

/* Nav Link Animation */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Burger Animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #101a2a;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ###################### DICE CSS ############################ */

#dice-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* margin-top: 10px; */
}

#dice-pic {
  /* position: relative; */
  max-width: 70%;
  /* z-index: 1; */
  /* top: 130px; */
  /* text-align: center;
  justify-content: center;
  align-items: center; */
}

#results {
  position: relative;
  /* font-size: 2rem; */
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.apply-shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -4px) rotate(-3deg);
  }
  20% {
    transform: translate(-4px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -3px) rotate(3deg);
  }
  50% {
    transform: translate(-3px, 4px) rotate(-3deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 2px) rotate(-2deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(2deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ###################### Magic8 CSS ############################ */

/* #ball-wrap {
  position: relative;
  z-index: 1;
} */

#ball-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#ball {
  position: relative;
  max-width: 100%;
  z-index: 1;
}

#answer {
  position: absolute;
  /* justify-content: center;
  text-align: center;
  align-items: center; */
  top: 120px;
  left: 110px;
  color: #fff;
  z-index: 2;
  max-width: 100px;
}

.apply-shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 1;
}

.apply-fadein {
  animation: fadeIn ease-in 2s;
  -webkit-animation: fadeIn ease-in 2s;
  -moz-animation: fadeIn ease-in 2s;
  -o-animation: fadeIn ease-in 2s;
  -ms-animation: fadeIn ease-in 2s;
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -4px) rotate(-3deg);
  }
  20% {
    transform: translate(-4px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -3px) rotate(3deg);
  }
  50% {
    transform: translate(-3px, 4px) rotate(-3deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 2px) rotate(-2deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(2deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  /* height: 4vh; */
  background: transparent;
}

#tb-website {
  text-decoration: none;
  color: #fff;
}

.tb-website {
  /* text-decoration: none;
  color: #fff; */
  /* background: chartreuse; */
  flex-direction: row;
  justify-self: center;
  text-align: center;
  align-items: center;
}

/* ######################   Carousel   #########################*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
